[submodule "wasm3"]
	path = Frameworks/wasm3
	url =  Frameworks/wasm3
[submodule "wasm-micro-runtime"]
	path = Frameworks/wasm-micro-runtime
	url =  Frameworks/wasm-micro-runtime
[submodule "wiki"]
	path = wiki
	url = https://github.com/pannous/wasp.wiki.git
