# command script import my_lldb.py

settings set target.load-cwd-lldbinit true
#  error: summary string parsing error in Xcode!
# error: Invalid format character or name 'Node[]'.
# https://stackoverflow.com/questions/41108037/how-to-add-a-hexadecimal-watch-in-clion

# type format add --format dec int32_t
# type format add --format hex int
# https://lldb.llvm.org/varformats.html

# type summary add --inline-children -x ".*"  # DEFAULT properties for all objects!


type summary add --summary-string "#${var._size}" List
# type summary add --summary-string "#${var._size} ${var.items[0-5]}" List<String>
type summary add --summary-string "#${var._size} ${var.items%B}" List<String>

# type summary add --inline-children List<String>

# type summary add --python-script  "data = valobj.GetChildMemberWithName('data'); return data ? data : ''" String
type summary add --summary-string "${var.data%s}" String
# type summary add --summary-string "${var.data}" String
type summary add --summary-string "${var.function}.${var.name}:${var.type}" Arg

type summary add --summary-string "${var.data}" Value
type summary add --summary-string "${var.length} ${var.data[0-8]}" Code
#type summary add --summary-string "${var.longy%B}" Value
#type summary add --summary-string "name=${var.name} type=${var.kind} length=${var.length} value=${var.value}" Node
# type summary add --summary-string "${var.name} #${var.length} ${var.kind} value:${var.value%B} children:${var.children%B} meta:${var.meta[0-1]}" Node
# type summary add --summary-string "${var.kind} #${var.length} ${var.name} value:${var.value%B} children:${var.children%B} meta:${var.meta[0-1]}" Node
type summary add --summary-string "${var.kind} #${var.length} ${var.name} value:${var.value%B} children:${var.children%B}" Node

#  ${addr} ERROR why
# ${var.children[0-5].name}

# https://youtrack.jetbrains.com/issue/CPP-6550 'Show as array' for pointer variables
# use (Node(*)[10])this.children in watch!
type summary add --summary-string "${var[0-8].name}" "Node *"


# type format add -f Node[] Node*

# ${addr} ${addr-file-or-load} ${ansi} ${current-pc-arrow} ${file} ${language} ${frame} ${function} ${line} ${module} ${process} ${script} ${svar} ${thread} ${target} ${var}"


# ${var.types.values}  ${var.return_type}
type summary add Signature --summary-string  "${var.debug_name}"

# type summary add Signature --summary-string "@${var.type_index} args#${var.types._size} ${var.debug_name} -> ${var.wasm_return_type}"

type summary add --summary-string "${var%E} ${var%x} ${var%B}" Valtype
type summary add --summary-string "${var%E}" wabt::Result
type summary add --summary-string "${var.offset_}" wabt::Stream
type summary add --summary-string "${var.offset_}" wabt::MemoryStream
type summary add --summary-string "${var%s} ${var[0-8]}" bytes

type summary add --summary-string "${var.kind} ${var.type}" Type32


type summary add  Function__LONG* --summary-string "#${var.index} ${var.name} ${var.export_name} ${var.signature} import:${var.is_import} used:${var.is_used} handled:${var.is_handled}"

type summary add wabt::link::Export --summary-string "${var.name} #${var.index}"

type summary add Local --summary-string "${var.name} #${var.position}"
# #${var.is_param}

type summary add Module --summary-string "${var.name} ${var.total_func_count}"
type summary add Function* --summary-string "${var.name}"
type summary add Function --summary-string "${var.name}"
type summary add Function__LONG --summary-string "#${var.index} ${var.name} ${var.export_name} ${var.signature}  import:${var.is_import} used:${var.is_used} handled:${var.is_handled}"