settings set target.load-cwd-lldbinit true
#  error: summary string parsing error in Xcode!
# error: Invalid format character or name 'Node[]'.
# https://stackoverflow.com/questions/41108037/how-to-add-a-hexadecimal-watch-in-clion

# type format add --format dec int32_t
# type format add --format hex int
# https://lldb.llvm.org/varformats.html

# type summary add --inline-children -x ".*"  # DEFAULT properties for all objects!


# type summary add --summary-string "#${var._size}" List
# type summary add --summary-string "#${var._size} ${var.items[0-5]}" List<String>
type summary add --summary-string "#${var._size} ${var.items%B}" List<String>

# type summary add --inline-children List<String>

# type summary add --python-script  "data = valobj.GetChildMemberWithName('data'); return data ? data : ''" String
type summary add --summary-string "${var.data%s}" String
# type summary add --summary-string "${var.data}" String
type summary add --summary-string "${var.function}.${var.name}:${var.type}" Arg

type summary add --summary-string "${var.data}" Value
type summary add --summary-string "${var.length}" Code
#type summary add --summary-string "${var.longy%B}" Value
#type summary add --summary-string "name=${var.name} type=${var.kind} length=${var.length} value=${var.value}" Node
# type summary add --summary-string "${var.name} #${var.length} ${var.kind} value:${var.value%B} children:${var.children%B} meta:${var.meta[0-1]}" Node
# type summary add --summary-string "${var.kind} #${var.length} ${var.name} value:${var.value%B} children:${var.children%B} meta:${var.meta[0-1]}" Node
type summary add --summary-string "${var.kind} #${var.length} ${var.name} value:${var.value%B} children:${var.children%B}" Node

#  ${addr} ERROR why
# ${var.children[0-5].name}

# https://youtrack.jetbrains.com/issue/CPP-6550 'Show as array' for pointer variables
# use (Node(*)[10])this.children in watch!
type summary add --summary-string "${var[0-8].name}" "Node *"


# type format add -f Node[] Node*

# ${addr} ${addr-file-or-load} ${ansi} ${current-pc-arrow} ${file} ${language} ${frame} ${function} ${line} ${module} ${process} ${script} ${svar} ${thread} ${target} ${var}"
